
<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @reward.text %>
</p>

<p>
  <strong>bool:</strong>
  <%= @reward.is_class %>
</p>
 
 <%= link_to 'Back', rewards_path %>