<h1>Welcome to the Readathon Homepage!</h1>
<%= link_to 'THE PEOPLE BASE', controller: 'users' %>
<%= link_to 'THE BOOK LIST', controller: 'bookitems' %>
<%= link_to 'THE USER TO BOOK Table', controller: 'users2books'%>



<h3><strong><%= link_to 'DisplayView', displayview_path %></strong></h3>


