
<p>
  <strong>Title:</strong>
  <%= @bookitem.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @bookitem.author %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @bookitem.pages %>
</p>
 
 <%= link_to 'Back', bookitems_path %>