
<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @goal.text %>
</p>

<p>
  <strong>bool:</strong>
  <%= @goal.is_class %>
</p>
 
 <%= link_to 'Back', goals_path %>