<h1>LET'S DUEL!!!!!</h1>

<%= link_to 'Back ', controller: 'welcome' %>
<%#= link_to 'new thing', new_dualbooklist_path %>

<table>
  <tr>

  </tr>

  <% @dualbooklists.each do |dualbooklist| %>
    <tr>
      <td><%#= dualbooklist.studentone %></td>
      <td><%#= dualbooklist.studenttwo %></td>
      <td><%#= link_to 'Show', dualbooklist_path(dualbooklist) %></td>
      <td><%= link_to 'Begin a Booklist DUEL!!!', edit_dualbooklist_path(dualbooklist) %></td>
      <td><%#= link_to 'Destroy', dualbooklist_path(dualbooklist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
